:root {
    --header-bg : #507CD3;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* TYPOGRAPHY */
.heading-1,.heading-2 {
    text-transform: uppercase;
    text-align: center;
}

.heading-1 {
    font-size: 2.8rem;
}

.heading-2 {
    font-size: 2.2rem;
    font-weight: 700;
}

/** COMMON STYLES **/

header {
    background-color: var(--header-bg);
    padding: 4rem 0;
}

section {
    padding-top: 5rem;
    .title-section {
        margin-bottom: 4rem;
    }
}


