.rotating-border-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    .container-buttons
    {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .rounded-button:nth-child(1) {
        --bg-button: green;
        --border-color: lightgreen;
        --rotating-border-color: orange;
        color: #fff;
    }    

    .rounded-button:nth-child(2) {
        --bg-button: black;
        --border-color: red;
        --rotating-border-color: lightgreen;
        color: bisque;
    }

    .rounded-button:nth-child(3) {
        --bg-button: lightyellow;
        --border-color: pink;
        --rotating-border-color: red;
        color: black;
    }

    .rounded-button {
        --transition-time: .4s;
        --border-radius: 1rem;
        background-color: var(--border-color);
        position: relative;
        overflow: hidden;
        border-radius: var(--border-radius);
        cursor: pointer;
        padding: 0.5rem;
    }

    .rounded-button::before {
        content: '';
        position: absolute;
        width: calc(100% * 1.41421356237);
        padding-bottom: calc(100% * 1.41421356237);
        background: linear-gradient(to right, var(--rotating-border-color) 50%, var(--border-color) 50%);
        transition: all var(--transition-time);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        visibility: hidden;
    }

    .rounded-button::after {
        content: '';
        background-color: var(--border-color);
        position: absolute;
        width: 50%;
        left: 0;
        top: 0;
        height: 100%;
        z-index: 0;
    }

    .button-content {
        background-color: var(--bg-button);
        border-radius: var(--border-radius);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.7rem;
        padding: 2rem 4rem;
        position: relative;
        z-index: 3;
    }

    .rounded-button:hover::before {
        transform: translate(-50%, -50%) rotate(-180deg);
        visibility: visible;
    }

}