.horizontal-accordion-section {
    --items-width: 21rem;
    --default-transition-time: 0.4s;
    .container {
        margin: 0 auto;
        width: 100rem;

        .items-container {
            display: flex;
            position: relative;
            column-gap: 1rem;
            justify-content: space-between;
            height: 29rem;
            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 1rem;
                position: absolute;
                left: 0;
                top: 0;
                background-color: #fff;
                border-radius: 5px;
                overflow: none;
                background-clip: border-box;
                transition: 1s all;
                box-shadow: 0 0 0.6rem 0.2rem rgba(0, 0, 0, 0.2);
                border-radius: 5px;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    width: 100%;
                    height: 80%;
                    position: relative;
                    span {
                        display: block;
                        opacity: 0;
                        text-align: center;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        color: #fff;
                        font-size: 2.2rem;
                        transition: all var(--default-transition-time);
                        z-index: 1;
                    }
                }

                a::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-position: center center;
                    background-size: cover;
                    transition: all var(--default-transition-time);
                }
                
                a:hover {
                    span {
                        opacity: 1;
                    }
                }
                
                a:hover::before {
                    transform: scale(1.15);
                    filter: blur(3px) brightness(70%)
                }

                button {
                    text-transform: uppercase;
                    padding: 1rem 3rem;
                    background-color: #0095ff;
                    color: #eee;
                    font-weight: 700;
                    border-radius: 3px;
                    outline: none;
                    cursor: pointer;
                    border: 1px solid transparent;
                    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
                }

                button:hover {
                    background-color: #07c;
                }

                button:active {
                    background-color: #0064bd;
                    box-shadow: none;
                }
            }

            .static-item, .item {
                width: var(--items-width);
                height: 100%;
            }

            .static-item {
                visibility: hidden;
                z-index: -1;
            }

            .item:nth-child(1) a::before {
                background-image: url('img/madrid.jpg');
            }
            
            .item:nth-child(2) a::before {
                background-image: url('img/vienna.jpg');
            }

            .item:nth-child(3) a::before {
                background-image: url('img/rome.jpg');
            }

            .item:nth-child(4) a::before {
                background-image: url('img/newyork.jpg');
            }

        }
    }
}