.horizontal-accordion-section {
  --items-width: 21rem; }
  .horizontal-accordion-section .container {
    margin: 0 auto;
    width: 100rem; }
    .horizontal-accordion-section .container .items-container {
      display: flex;
      position: relative;
      column-gap: 1rem;
      justify-content: space-between;
      height: 29rem; }
      .horizontal-accordion-section .container .items-container .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #fff;
        border-radius: 5px;
        overflow: none;
        background-clip: border-box;
        transition: 1s all;
        box-shadow: 0 0 0.6rem 0.2rem rgba(0, 0, 0, 0.2);
        border-radius: 5px; }
        .horizontal-accordion-section .container .items-container .item a {
          display: block;
          overflow: hidden;
          width: 100%;
          height: 80%;
          position: relative; }
        .horizontal-accordion-section .container .items-container .item a::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          display: block;
          width: 100%;
          height: 100%;
          background-position: center center;
          background-size: cover;
          transition: all 0.3s; }
        .horizontal-accordion-section .container .items-container .item a:hover::before {
          transform: scale(1.15); }
        .horizontal-accordion-section .container .items-container .item button {
          text-transform: uppercase;
          padding: 1rem 3rem;
          background-color: #0095ff;
          color: #eee;
          font-weight: 700;
          border-radius: 3px;
          outline: none;
          cursor: pointer;
          border: 1px solid transparent;
          box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset; }
        .horizontal-accordion-section .container .items-container .item button:hover {
          background-color: #07c; }
        .horizontal-accordion-section .container .items-container .item button:active {
          background-color: #0064bd;
          box-shadow: none; }
      .horizontal-accordion-section .container .items-container .static-item, .horizontal-accordion-section .container .items-container .item {
        width: var(--items-width);
        height: 100%; }
      .horizontal-accordion-section .container .items-container .static-item {
        visibility: hidden;
        z-index: -1; }
      .horizontal-accordion-section .container .items-container .item:nth-child(1) a::before {
        background-image: url("img/madrid.jpg"); }
      .horizontal-accordion-section .container .items-container .item:nth-child(2) a::before {
        background-image: url("img/vienna.jpg"); }
      .horizontal-accordion-section .container .items-container .item:nth-child(3) a::before {
        background-image: url("img/rome.jpg"); }
      .horizontal-accordion-section .container .items-container .item:nth-child(4) a::before {
        background-image: url("img/newyork.jpg"); }

/*# sourceMappingURL=styles.css.map */
